body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.container {
  width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
img {
  display: block;
  max-width: 100%;
}
/* visually-hidden */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  /* margin-top: 24px; */
}
.header-logo {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #111111;
  margin-right: 4px;
  align-items: center;
  flex-shrink: 0;
}
.icon-logo {
  margin-right: 188px;
  flex-shrink: 0;
}
.header-container {
  display: flex;
  /* margin-bottom: 32px; */
}
.header-list {
  display: flex;
  gap: 24px;
  margin-right: 137px;
  flex-shrink: 0;
}
.header-link-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #111111;
}
.header-link-item:hover,
.header-link-item:focus {
  color: #fd9222;
}
.header-list-item {
  font-weight: 500;
  letter-spacing: 2%;
  color: #111111;
}
.header-link {
}
.header-socials {
  display: flex;
  gap: 18px;
  align-items: center;
}
/* Hero section */
.hero-section {
  background-color: gray;
  padding-top: 381px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  background-image: url(./images/chocolate-h1-title.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 72px;
}
.hero-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  max-width: 484px;
  padding-bottom: 32px;
}
.hero-list-btn {
  display: flex;
  gap: 14px;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-link {
  color: #ffffff;
}
.btn {
  font-weight: 600;
  color: #ffffff;
  padding: 14px 40px;
  border-radius: 100px;
  background-color: #fd9222;
  border: 1px solid transparent;
}
.btn:hover,
.btn:focus {
  background-color: #ffffff;
  color: #fd9222;
}
.btn-hero {
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #ffffff;
}
.btn-hero:hover,
.btn-hero:focus {
  border-color: #fd9222;
  color: #fd9222;
}
/* Benefits section */
.benefits-container {
  background-color: #1e1823;
  width: 1200px;
  padding: 50px;
}
.benefits-list {
  display: flex;
  gap: 88px;
}
.benefits-items {
  width: calc((100% - 88px * 2) / 3);
}
.benefits-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  padding-bottom: 18px;
}
.benefits-paragraph {
  color: rgba(255, 255, 255, 0.7);
  line-height: 100%;
}
.benefits-icons {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-bottom: 22px;
}
.benefits-link {
  padding: 15px;
}
